@using Bookmarks.Web.ViewModels.Bookmarks
@model IEnumerable<ThumbnailBookmarkViewModel>
<div id="bm-tiles">
    @{
        int counter = 0;
        foreach (var bookmark in Model)
        {
            @*if (counter == 0)
            {
                @:<div class="row">
            }
            else if (counter > 0 && counter % 6 == 0)
            {
                @:</div><div class="row">
                counter = 0;
            }*@
            <div class="col-md-2 bookmark" data-title="@bookmark.Title">
                <a class="thumbnail" href="@bookmark.Url"  title="@bookmark.Title" target="_blank">
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="@bookmark.FaviconBase64String" />
                        </div>
                        <div class="col-xs-9 text-center bm-thumb-title">
                            @bookmark.Title
                        </div>
                    </div>
                    <div class="row">
                        <div class="crop col-xs-12">
                            <img class="img-responsive " src="@bookmark.SnapshotBase64String" />
                        </div>
                    </div>
                </a>
                <div class="row details">
                    <div class="col-xs-6 text-center">
                        @Html.ActionLink("Details", "Details", "Bookmarks", new { title = bookmark.Title }, null)
                    </div>
                     <div class="col-xs-6 text-center">
                        @Html.ActionLink("Remove", "Remove", "Bookmarks", new { id = bookmark.Id }, null)
                    </div>
                </div>
            </div>
            counter += 1;
        }
        @*@:</div>*@
    }
</div>