@using Bookmarks.Data.Models
@model ICollection<Bookmark>
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@foreach (var bookmark in Model)
{
    <div class="row text-center">
        <h1>@bookmark.Title</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
           <img class="thumbnail" src="@bookmark.SnapshotBase64String" />
        </div>
        <div class="col-md-8">
            <div class="row">
                @*<div class="col-md-4">Fav:</div>
                <div class="col-md-8"><img src="@bookmark.WebSite.FaviconBase64String" /></div>*@
            </div>
            <div class="row">
                @*<div class="col-md-4">Website:</div>
                <div class="col-md-8">@bookmark.WebSite.Url</div>*@
            </div>
            <div class="row">
                @*<div class="col-md-4">Description:</div>
                <div class="col-md-8">@bookmark.Description</div>*@
            </div>
            <div class="row">
                @*<div class="col-md-4">Tags:</div>
                @foreach (var tag in bookmark.Tags)
                {
                    <div class="col-md-1">@tag.Name</div>
                }*@
            </div>
        </div>
    </div>
}